onnxruntime-gpu==1.19.2
torch --index-url https://download.pytorch.org/whl/cu124
torchvision --index-url https://download.pytorch.org/whl/cu124
torchaudio --index-url https://download.pytorch.org/whl/cu124
scikit-image
insightface
numpy==1.23
pandas==2.2.2
opencv-python==4.8.1.78
tqdm
Pillow
ultralytics